
<div id="header">
    <img id="header-logo" src="/img/logo.png">
    <div class="container">
        <div class="container">
            <div class="btn-group">
                <label ng-click="changeRoute('chat')" class="btn btn-primary" ng-model="radioModel" btn-radio="'Chat'">Chat</label>
                <label ng-click="changeRoute('feed')" class="btn btn-primary" ng-model="radioModel" btn-radio="'Feed'">Feed</label>
            </div>
        </div>
    </div>
</div>
<!--<div id="top">
    <div class="container">
        <div class="btn-group">
            <label ng-click="changeRoute('chat')" class="btn btn-primary" ng-model="radioModel" btn-radio="'Chat'">Chat</label>
            <label ng-click="changeRoute('feed')" class="btn btn-primary" ng-model="radioModel" btn-radio="'Feed'">Feed</label>
        </div>
    </div>
</div>-->